body {
      font-family: Georgia, 'Times New Roman', Times, serif;
     background: linear-gradient(to bottom, #0a0888, #4689c0, rgb(233, 118, 11) ,#dbb50d);
      color: white;
      text-align: center;
      padding: 13rem;
      
    }
    input, select, button {
      padding: 0.5rem;
      margin: 0.5rem;
      border-radius: 8px;
      border: none;
      font-size: 1rem;
    }
    button {
      background-color: #7a00cc;
      color: white;
      cursor: pointer;
    }
    .resultado {
      margin-top: 2rem;
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 12px;
      font-size: 1.5rem;
      width: 850px;
      justify-items: center;
      justify-self: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #heroi {
  position: fixed;
  bottom: 10px;
  left: 0;
  height: 110px;
  animation: correr 7s linear infinite;
  z-index: 1;
}

@keyframes correr {
  0% {
    left: -50px;
  }
  100% {
    left: 100%;

  }
}

#grama {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px; /* altura do GIF */
  background-image: url('src/grass.gif');
  background-repeat: repeat-x;
  background-size: auto 100%;
  z-index: 0;
}

#star {
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 2;
  animation: starAnimation 9s linear infinite;
}

@keyframes starAnimation {
    0% {
    right: -10px;
  }
  100% {
    right: 100%;

  }
  }

  #cloud1 {
  position: absolute;
  top: 5px;
  animation: cloudAnimation 20s linear infinite;
  }

  @keyframes cloudAnimation {
    0% {
    right: -10px;
  }
  100% {
    right: 100%;

  }
  }
   #cloud2 {
  position: absolute;
  top: 100px;
  animation: cloudAnimation 25s linear infinite;
  }
   #cloud3 {
  position: absolute;
  top: 150px;
  animation: cloudAnimation 22s linear infinite;
  }

